*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: #ddd;
  }
  
  /* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    line-height: 1.6;
    color: var(--clr-body);
    background: var(--clr-bg);
  } */
  
  .content {
    /* background:black; */
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    line-height: 1.6;
    /* background: var(--clr-bg); */
    /* padding: 3em; */
    /* box-shadow: 0 0 3em rgba(0,0,0,.15); */
    position: relative;
  }
  
  .search {
    --size: 40px;
    border: 2px solid;
    border-color: white;
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    font-size: 1.2em;
    position: relative;
    width: var(--size);
    height: var(--size);
    margin-left: auto;
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    padding: 1.4px;
  }

    .input {
    border: 0;
    padding: .25em 1em;
    flex-grow: 1;
    outline: 0;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    opacity: 0;
    cursor: pointer;
    font-size: 1.25em;
  }
  
  .submit {
    font-size: 1.5rem;
    margin-left: auto;
    background: black;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    transition: background 200ms ease-out;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    /* color: var(--clr-body); */
  }
  
  .search:focus-within {
   box-shadow: 0 0 5px var(--clr-primary);
   width: 100%;
  }
 .input:focus-within {
      opacity: 1;
      z-index: initial;
      cursor: initial;
      color: white;
      background-color: black;
      width: calc(100% - var(--size));
    }
    
   .submit :focus-within {
      background: var(--clr-primary);
      color: white;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
     transition: transform 500ms ease-out;
  }

  @media screen and (max-width: 720px) {
      .content{
        width: 45vw;
        display: flex;
        position: sticky;
        padding: 16px;
      }
      .search{
        width: 100%;
      }
  }